*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/buildSrc/build
/captures
.externalNativeBuild
.cxx
local.properties
key.properties
/app/release
/app/nfe_android_keystore
/app/google-services.json
google_play_key.json
/fastlane/metadata/android/en-US/images
/fastlane/*.xml
